*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{


background-size: 100vw 100vh;

}

/*EFECTOS HEADER*/
.enca{
/*background-color: #007AFF;*/
background-color: black;
overflow: hidden;
width: 100%;
/*margin-bottom: 20px;*/
top: 0;
left: 0;
z-index: 100;/*posiciona eje z*/
position: sticky;
}

.wrapper{

    width: 85%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;

}
.logo{

   float: left;
   margin-top: 18px;
   
}

nav{

    line-height: 70px;
    float: right;
}

nav a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-weight: bold;
    padding: 20px 10px;
    line-height: normal;
    font-size: 16px;
    -webkit-transition:all 500ms ease;
    transition: all 500mx ease;
}

nav a:hover{

    color: #FF8038;
    border-bottom: 5px solid #FF8038;

}

@media only screen and (min-width:400px) and (max-width: 767px){
/*Responsive*/
.enca{
    height: 70px;
}

.logo{

    width: 110px;
    height: 22px;
    margin-left: 130px;
}

nav{

    margin-top: -27px;
    transform: translateX(-3%);
}

}

/*---------------------------------*/
/*Contenido*/

   
#ContenedorContenidoPrincipal{

width: 100%;   
}


#CotenedorTextoPrincipal *{

    font-family: sans-serif;
    margin-left: 93px;
    
}


#CotenedorTextoPrincipal{

    width: 100%;
    padding-top: 75px;
    padding-bottom: 80px;
    
    
}

.fondoVideocss {
    margin-left:0px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#FrasePrincipal{
   
    font-weight: bold;
    font-size: 41px;
    width: 600px;
    line-height: 1.3em;
    color: #F7F7F7;
    color: white;
}

#FraseSecundaria{

    font-size: 20px;
    width: 500px;
    padding-top: 10px;
    color: #F7F7F7;
}

#botones{

    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  
}

#Boton1{

    
    font-size: 20px;
    padding: 15px;
    background-color: transparent;
    font-weight: bold;
    border: solid 1px #ccc;
    color: #F7F7F7;
}

#Boton1:hover{

    background-color: #FF8038;
}
#Boton2:hover{

    background-color:  #FF8038;
}

#Boton2{

    
    font-size: 20px;
    padding: 15px;
    background-color: transparent;
    border: solid 1px #ccc;
    font-weight: bold;
    color: #F7F7F7;

}
/*----------------------*/
/*VIDEO ABOUT THE*/

#VideoAbout{

    background-color: white;
    padding-top: 50px;
    text-align: center;
    text-decoration: underline;
}

#VideoAbout h2{

    margin-bottom:30px;
}

#VideoAbout iframe{

    margin-bottom: 30px;
    border: solid 5px rgba(0, 0, 0, 0.4);
}
/*SECTOR*/

#Sector{
    padding-top: 50px;
    width: 100%;
    padding-left: 93px;
    padding-right: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#Sector *{

    font-family: sans-serif;
     
}


#SectorMarketero{

    width: 50%;
    text-align: center;
    
    
}

#SectorEmprendedor{
    width: 50%;
    text-align: center;
  
}

#SectorEmprendedor img{

    border: solid 1px #ddd;

}

#SectorMarketero img{
    border: solid 1px #ddd;
}



#boton1{
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding:35px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: white;
    font-size: 1.3em;
    border: 1px solid #ddd;
    background-color: #5C7E10;
    
}

#boton2{
    margin-top: 18px; /*70*/
    margin-bottom: 35px;
    margin-right: 0px;
    padding:35px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: white;
    font-size: 1.3em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #5C7E10;

}

.Imagen{

    margin-top: 20px;
}
.Parrafo{

    width: 90%;
    margin-top: 20px;
    font-size: 1.2em;
    text-align: justify;

}


/*Descripciones*/
#ContenedorDescripciones *{

    font-family: sans-serif;
   
}

#ContenedorDescripciones{

    background-color: white;
    width: 100%;
    height: 30%;
    padding-left: 93px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

#ContenedorDescripciones h2{

    text-align: center;
}


#ContenedorDescripciones .columnas{

    height: 300px;

}

#ContenedorDescripciones .img{
display: flex;
justify-content: center;
   
    
}

#ContenedorDescripciones h2{

    margin: 0;
}
.fila{
    margin-top: 30px;
    height: 80px;
    text-align: center;
    
}
/*----------------------------------*/



/*Efectos FOOTER*/

footer *{

    font-family: sans-serif;
}

footer{

    width: 100%;
    background-color: #202020;
    color: white;
    

}

.container-footer-all{

    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
    
}

.colum1{

    max-width: 400px;

}

.colum1 h1{

    font-size: 22px;
}

.colum1 p{

    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{

    max-width: 400px;
}

.colum2 h1{

    font-size: 22px;
}

.colum2 .row{
     
    margin-top: 20px;
}

.row{

    display: flex;
}

.row img{

    width: 36px;
    height: 36px;

}

.row label{

    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{

    max-width: 400px;
    
}

.colum3 h1{

    font-size: 22px;

}

.row2{

    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;

}

.row2 label{


    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;

}

.container-footer{

    max-width: 100%;
    background-color: #101010;
}

.footer{

    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;

}

.information a{
text-decoration: none;
color: #C7C7C7;

} 

@media screen and (max-width: 1100px){

    .container-body{
        flex-wrap: wrap;
    }

    .colum1{

        max-width: 100%;
    }
    .colum2,
    .colum3{

        margin-top: 40px;
    }

}
